---
layout: default
title: Tables
---

<h2>Tables</h2>

<ul>
{% for table in site.data.schema.tables %}
  <li><a href="#{{table.name}}">{{ table.name }}</a></li>
{% endfor %}
</ul>


{% for table in site.data.schema.tables %}
  
<a name="{{table.name}}"></a><h3>Table {{ table.name }}</h3>

<table>
  {% for field in table.fields %}
    <tr>
      <td>{{ field.name }}</td>
      <td>{{ field.type }}</td>
      <td>{{ field.null }}</td>
      <td>{{ field.default }}</td>
    </tr>
  {% endfor %}
</table>

{% endfor %}

