---
title:  Symbols A-Z
layout: default
---

<h2>Symbols A-Z</h2>

{% for symbol in site.data.symbols %}
  <a href="#{{symbol.name}}">{{ symbol.name }}</a>{% unless forloop.last %} •{% endunless %}
{% endfor %}


{% for symbol in site.data.symbols %}
<h3 id="{{symbol.name}}">{{ symbol.name }}</h3>

{% if symbol.tables.size > 0 %}
<div class='tables'>
{% for table in symbol.tables %}
  {{ table }}<a href="/#{{ table }}">↩</a>{% unless forloop.last %} •{% endunless %}
{% endfor %}
</div>
{% endif %}


{% if symbol.columns.size > 0 %}
<div class='columns'>
{% for column in symbol.columns %}
  <div class='column'>
    {{ column.name }}
     <span class='tables'>
     (
       {% for table in column.tables %}
         {{ table }}{% unless forloop.last %} •{% endunless %}
       {% endfor %}
     )
    </span>
  </div>
{% endfor %}
</div>
{% endif %}


{% endfor %}
